# Node modules
node_modules/

# Fichiers temporaires
*.log
*.tmp
*.swp

# Fichiers système
.DS_Store
Thumbs.db

# Environnement local
.env

# Live Server / VSCode
.vscode/

# Utilisateurs
utilisateurs.json
